
#h4{
    display: flex;
    
 }

h1{
    text-align: center;
    background-color: blue;
    color: rgb(229, 255, 0);

}
div.sticky{
    position: sticky;
    top: 0;
    background-color:rgb(221, 99, 0);;
}

.special{
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: black;
}

h2{
    color: rgb(33, 253, 4);
}

body{
        background-image: url(../tirumala\ 1.jpg);
}
button {
    background-color: black;
    

}

button:hover{
    background-color: rgb(25, 0, 255);
   
}

div{
    text-align:center;
    display: flex;
    justify-content: space-around;
    padding:auto;
    background-color: rgb(221, 99, 0);
    color: rgb(255, 174, 0);    
    font-size: x-large;
}
